<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to (image_tag "logo.png", alt:"A to Z logo", id:"logo"), pages_home_path %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


      <div class="navbar-form navbar-left">
        <ul class="nav navbar-nav">
        <%= link_to "About", about_path, class:"btn btn-link" %>
        <%= link_to "Contact", contact_path, class:"btn btn-link" %>
        <%= link_to "Eagle1040", eagle1040_path, class:"btn btn-link" %>
        <%= link_to "Team", team_path, class:"btn btn-link" %>
        <%= link_to "Coverage", coverage_path, class:"btn btn-link" %>
        <%= link_to "Blog", blog_path, class:"btn btn-link" %>
        </ul>
      </div>

      <div class="nav navbar-nav navbar-right">
      </div>

    </div>
  </div>
</nav>
